@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 0 15px;
  justify-content: space-between;
  z-index: 5;
  position: relative;
}

.header > h1 {
  color: #627DFE;
  font-size: 1.5rem;
}

.Soldier {
  width: 100%;
  min-height: 100vh;
  padding: 0 0px;
  background: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 60px);
}

.Soldier .Container {
  /* padding: 60px; */
  /* margin: auto; 이걸로 하면 완전 중앙에 온다.. margin-top 으로 조절해줘야함*/
  width: 50%;
  max-width: 330px;
  min-height: 500px;
  flex-direction: column;
  justify-content: center;
  /* background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  ); */
  
  /* 여기부터 다름 */
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  padding: 18px 20px 20px 15px;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-right: 25px;
  width: 450px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;

}

.Soldier .Container .name {
  color: black;
  font-size: 1.8rem;
  margin-top: 0px;
  margin-bottom: 10px;	
  text-align: center;  /* 글씨 가운데 정렬 */
  font-family: 'Nanum Pen Script', cursive;

}

.Soldier .Container .h2 {
  color: #627DFE;
  margin-top: 0px;
  margin-left: 50px;
  margin-bottom: 0px;	
  font-family: 'Nanum Pen Script', cursive;
}

.Soldier .Container img {
	margin-left: 80px;
	margin-bottom: 20px;	
}

.Soldier .Container .text {
	color: #627DFE;
	margin-left: 20px;
	font-size: 1.5rem;
	font-family: 'Nanum Pen Script', cursive;
	text-align: left; 
}

.Soldier .Container .emty {
	visibility: hidden;
	height: 20px;
}

.Soldier .Container .recent_log {
  color: black;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 10px;	
  text-align: left;  /* 글씨 가운데 정렬 */
  font-family: 'Gowun Dodum', sans-serif; 
}