@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Soldier_recent p {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.2rem;
}